# Local environment files
.idea
.vscode
.DS_Store
**/.DS_Store
*/.DS_Store


# Environment file
.env
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/

# storage
storage/logs/*


docker-compose.yml
docker-compose.override.*
docker-conf/mysql/*

node_modules
