version: '3'

services:
  nginx-service:
    image: nginx:1.20
    container_name: NGINX-CONTAINER
    ports:
      - "8084:80"
      - "443:443"
    volumes:
      - ./:/var/www/project
      - ./docker-conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-service
      - mysql-service

  php-service:
    build:
      context: ./docker-conf/php
    container_name: PHP-CONTAINER
    ports:
      - "9001:9000"
    volumes:
      - ./:/var/www/project
      - ./docker-conf/php/www.conf:/usr/local/etc/php-fpm.d/www.conf:rw
      - ./docker-conf/php/php.ini:/usr/local/etc/php/php.ini:rw
    depends_on:
      - mysql-service

  mysql-service:
    image: mysql:8.0
    container_name: DB-CONTAINER
    ports:
      - "4036:${DB_PORT}"
    volumes:
      - dbdata:/var/lib/mysql/
      - ./docker-conf/mysql/my.cnf:/etc/mysql/my.cnf
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql-service
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8188:80"
  #      networks:

volumes:
  dbdata:
    driver: local
